body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;

    
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.header{
    min-height: 60vh;
    width: 100%;
    background-image: url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

::-moz-selection { /* Code for Firefox */
    
    background: #b30000;
    color: #ffffff;
  }
  
  ::selection {
    
    background: #b30000;
    color: #ffffff;
  }

.div{

    justify-content: space-between;
    padding: 0 6px;
    display: inline;
    float: left;
}
a{
    color: #1c1c1c;
    text-decoration: none;
    transition: 0.5s;
}
.dark-mode a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

.pc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #008fb3;
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
    transition: 0.5s;

}
.dark-mode .pc {
    background-color: #000230;
    transition: 0.5s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

ul li{
    list-style:none;
    display:inline-block;
    margin:10px;
    padding:10px;
    cursor:pointer;

}

.nav-items{
    flex: 1;
    display:inline-block;
    margin:0px;
    padding:0px;
    
    
}


.slidebar{
    display:none;
}

.mobile-menu{
    display:none;
}

.logo-phone{
    display:none;
}

.nav-items li a{
    color: #fff;
}

.pc ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.pc ul li:hover::after{
    width: 100%;
}
.dark-mode .pc ul li:hover a{
    color: #00ccff;
}
body {
    
    background: #f1f3f4;
    transition: 0.5s;
}
body.dark-mode {
    background: #353535;
}

.pc li{
    list-style:none;
}
.dark-mode .pc ul li::after{
    background: #00ccff;
    
}



.txtBox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
.txtBox h1{
    color: aliceblue;
    text-shadow: 0px 0px 7px rgb(68, 68, 68);
    font-size: 60px;
}

.a-button {
    text-decoration: none;
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    font-size: 15px;
    transition: all .5s ease;
}
.dark-mode .a-button{
    background-color: #353535;
    box-shadow: 0px 0px 10px wheat;
    color: white;
}
.a-button:hover {
    letter-spacing: 3px;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(100, 100, 100) 0px 7px 29px 0px;

}

.a-button:active {
    letter-spacing: 3px;
    background-color: hsl(192, 100%, 50%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(0, 204, 255) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #00ccff;
    box-shadow: 0px 0px 5px #0054b0;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }




.logo{
    width: 100px;
    margin: 10px;
}

/* The switch - the box around the slider */

.switch {
    /* Variables */
    --switch_width: 2em;
    --switch_height: 1em;
    --thumb_color: #e8e8e8;
    --track_color: #e8e8e8;
    --track_active_color: #888;
    --outline_color: #000;
    font-size: 17px;
    position: relative;
    display: flex;
    float: right;
    width: var(--switch_width);
    height: var(--switch_height);


}

/* Hide default HTML checkbox */
switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    box-sizing: border-box;
    border: 2px solid var(--outline_color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--track_color);
    transition: .15s;
    border-radius: var(--switch_height);
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: var(--switch_height);
    width: var(--switch_height);
    border: 2px solid var(--outline_color);
    border-radius: 100%;
    left: -2px;
    bottom: -2px;
    background-color: var(--thumb_color);
    transform: translateY(-0.2em);
    box-shadow: 0 0.2em 0 var(--outline_color);
    transition: .15s;
}

input:checked + .slider {
    background-color: var(--track_active_color);
}

input:focus-visible + .slider {
    box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

.switch input[type='checkbox']:checked ~ label {
    background-color: #00a0fc;
    border-color: #006dc9;
}

.switch input[type='checkbox']:checked ~ label::after {
    background-color: #0054b0;
    transform: translateX(50px);
}

.toni{
    padding-right: 20px;
}
.bodyCont{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;     

    
    
}
.tabelSec{
    margin-bottom: 35px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    

}
.address{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 30px;
    background:  rgb(213, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px, rgba(0, 0, 0, 0.3) 0px 7px 20px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        margin: 30px;
        width: 300px;
        height: 118px;transition: .5s;
}
.address p{
    margin-right: 10px;
}
.dark-mode .address{
    background-color: #474747;
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 30px;
    background:  rgb(213, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px, rgba(0, 0, 0, 0.3) 0px 7px 20px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        margin: 30px;
        width: 300px;
        height: 118px;transition: .5s;
}
.dark-mode .email{
    background-color: #474747;
}

.phone1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 30px;
    background:  rgb(213, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px, rgba(0, 0, 0, 0.3) 0px 7px 20px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        margin: 30px;
        width: 300px;
        height: 118px;transition: .5s;
}
.dark-mode .phone1{
    background-color: #474747;
}

/*.dark-mode .phone1:hover{
    box-shadow: 0px 0px 10px 1px #56ffff, 0px 0px 20px 5px #9df1ff;
}*/

.home{
    width: 60px;
    margin: 10px;
}
.mail{
    width: 60px;
    margin: 10px;
    margin-left: -10px;

}
.phoneimg{
    width: 60px;
    margin: 10px;
    margin-left: -10px;
}

.dark-mode p{
    color: #fff;
    transition: .5s;
}
.map{
    height: 100%;
    width: 80%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px, rgba(0, 0, 0, 0.3) 0px 7px 20px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: .5s;
}
.infoSec{
  margin-top: 8px;
}
.textToni{
    font-size: 20px;
}
.tonitoni{
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 30px;
    background:  rgb(213, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px, rgba(0, 0, 0, 0.3) 0px 7px 20px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        margin: 30px;
        width: 300px;
        height: 160px;
        transition: .5s;
        
}


.dark-mode .tonitoni{
    background-color: #474747;
}


.row-contact{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 40px;
}
.containerInsta{
    
    box-sizing: border-box;
    width: 300px;
    height: 160px;
    padding: 20px;
    padding-top: 10px;
    margin: 30px;
    background:  rgb(213, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px, rgba(0, 0, 0, 0.3) 0px 7px 20px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position: relative;
    border-radius: 30px;
    transition: .5s;
}
.dark-mode .containerInsta{
    background-color: #474747;
}
.dark-mode strong{
    color: white;
}
.dark-mode .InstaLogo{
    filter: invert(100%);
}
.ProfileImage{
    display: flex;
    flex-direction: row;
    align-items: left;
}
.InstaLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.InstaLogo img{
    width: 100px;
}
.ProfileImage img{
   height: 70px;
   width: 70px;
   border-radius: 100%;
   margin: 0px 10px 5px 0px;
   
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Post, .Follower, .Following{
    font-size: 20px;
    margin: 0px 10px 0px 30px;
    align-items: center;
    text-align: center;
}

.bio{
    display: flex;
    margin: 10px;
    
    align-items: center;
    justify-content: center;
    
}

.containerInsta{
    display: none;
}


@media(max-width: 700px){
    
    .header {
        min-height: 60vh;
      }
      .info {
       
      }
    .row-contact{
        flex-direction: column;
    }

    .map{
        
        height: 200px;
        width: 100%;
    }               
    .info{
        flex-direction: column;
        padding-top: 20px;
    }
    .tonitoni{
     
    }
    .address{
        margin: 0;
        
        
    }
    .phone1{
        margin: 0;
        margin-top: 10px;
    }
    .email{
        margin: 0;
        margin-top: 10px;
    }
    .mobile-menu li a{
        color: #fff;
    }
    .logo{
        width: 70px;
    }
    article{
        display: none;
    }
    .pc{
        display:none;
    }
    .mobile-menu{
        position: relative;
        display:block;
        z-index: +1;
    }
    #slidebar{
        position:absolute;
        width:300px;
        height:100%;
        background:#000;
        right:-300px;
        transition:.4s;
        z-index: +1;
    }

    #slidebar ul li{
        list-style:none;
        color:#fff;
        font-size:20px;
        padding:20px;
    }

    #slidebar .toggle-btn{
        position:absolute;
        top:30px;
        right:330px;
    }

    .toggle-btn span{
        width:25px;
        height:4px;
        background-color:#000;
        display:block;
        margin-top:4px;
    }

    #slidebar.active{
        right:0;
    }
    .mobile-items{
        display:block;
    }

    .logo-phone{
        display:block;
        float:left;
    }
}
