body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;

    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.header{
    min-height: 70vh;
    width: 100%;
    background-image: url(IMAGES/noimage.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

::-moz-selection { /* Code for Firefox */
    
    background: #b30000;
    color: #ffffff;
  }
  
  ::selection {
    
    background: #b30000;
    color: #ffffff;
  }

.div{

    justify-content: space-between;
    padding: 0 6px;
    display: inline;
    float: left;
}
a{
    color: #1c1c1c;
    text-decoration: none;
    transition: 0.5s;
}
.dark-mode a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

.pc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #008fb3;
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
    transition: 0.5s;

}
.dark-mode .pc {
    background-color: #000230;
    transition: 0.5s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

ul li{
    list-style:none;
    display:inline-block;
    margin:10px;
    padding:10px;
    cursor:pointer;

}

.nav-items{
    flex: 1;
    display:inline-block;
    margin:0px;
    padding:0px;
    
    
}


.slidebar{
    display:none;
}

.mobile-menu{
    display:none;
}

.logo-phone{
    display:none;
}

.nav-items li a{
    color: #fff;
}

.pc ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.pc ul li:hover::after{
    width: 100%;
}
.dark-mode .pc ul li:hover a{
    color: #00ccff;
}
body {
    background: white;
    transition: 0.5s;
}
body.dark-mode {
    background: #353535;
}

.pc li{
    list-style:none;
}
.dark-mode .pc ul li::after{
    background: #00ccff;
    
}



.txtBox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;*/
.txtBox h1{
    color: aliceblue;
    text-shadow: 0px 0px 7px rgb(68, 68, 68);
    font-size: 60px;
}



.logo{
    width: 100px;
    margin: 10px;
}
/* The switch - the box around the slider */

.switch {
    /* Variables */
    --switch_width: 2em;
    --switch_height: 1em;
    --thumb_color: #e8e8e8;
    --track_color: #e8e8e8;
    --track_active_color: #888;
    --outline_color: #000;
    font-size: 17px;
    position: relative;
    display: flex;
    float: right;
    width: var(--switch_width);
    height: var(--switch_height);


}

/* Hide default HTML checkbox */
switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    box-sizing: border-box;
    border: 2px solid var(--outline_color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--track_color);
    transition: .15s;
    border-radius: var(--switch_height);
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: var(--switch_height);
    width: var(--switch_height);
    border: 2px solid var(--outline_color);
    border-radius: 100%;
    left: -2px;
    bottom: -2px;
    background-color: var(--thumb_color);
    transform: translateY(-0.2em);
    box-shadow: 0 0.2em 0 var(--outline_color);
    transition: .15s;
}

input:checked + .slider {
    background-color: var(--track_active_color);
}

input:focus-visible + .slider {
    box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
}

.switch input[type='checkbox']:checked ~ label {
    background-color: #00a0fc;
    border-color: #006dc9;
}

.switch input[type='checkbox']:checked ~ label::after {
    background-color: #0054b0;
    transform: translateX(50px);
}

.toni{
    padding-right: 20px;
}

#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #00ccff;
    box-shadow: 0px 0px 5px #0054b0;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }




/*--------------------------*/

.dark-mode h2{
    color: #fff;
    transition: .5s;
}

.orarBody{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;

}
.calendar{
    margin-top: 60px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px, rgba(0, 0, 0, 0.3) 0px 7px 20px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 45px;

}
.auto-style2{
    font-weight: bolder; 
    font-size: 20px;
    overflow: auto; 
    text-align: center; 
    justify-content: center;
    width: auto; 
    height: auto;
}
option{
    background-color: #008fb3;
    text-align: center;
    
}
.dark-mode option{
    background-color: #0033ffb1;
}

.auto-style3{
    font-size: 20px;
    border-radius: 16px; 
    font-weight: bold; 
    color: #ffffff; 
    border-color: #9a9a9a;
    background-color: hwb(209 0% 0%);
    padding: 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px, rgba(0, 0, 0, 0.3) 0px 7px 4px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;   
}
.dark-mode .auto-style3{
    background-color: #0033ffb9;
    border-color: #474747;
    color: white;
    
}
body{
    margin: 0;
}

.auto-style3{
    margin-right: 60px;
    margin-top: 10px;
}
.orarAfis{
    margin-top: 10px;
    height: 100%;
    background: #c5c5c5;
    border: 2px black;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px, rgba(0, 0, 0, 0.3) 0px 7px 20px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.dark-mode .orarAfis{
    background: #505050;
}

.selectors{
    display: flex;
    justify-content: center;
    flex-direction: row;
}




.contact {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/OutsideCourtyardFinished.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    padding: 180px 0;
    margin-bottom: 50px;


}

.offbody{
    margin: 150px auto;
    width: 100%;
    text-align: center;
    background-color: #c4c4c4;
    background-position: center;
    padding: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    

    transition: .5s;

}
.row-sm-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 10px;
}
.coll-sm-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
}
.a3{

    font: bold;
    text-decoration: line-through;
}

.infoB{
    padding: 5px;

    color: #2b2b2b;
    transition: .5s;

}
h5{
    font-size: 25px;
    box-sizing: 0px 0px 5px #3d3d3d;
    transition: .5s;
}
.dark-mode h5{
    color: white;
    font-size: 25px;
    transition: .5s;
}
.linksB{
    font-size: 15px;
    margin-bottom: -10px;
}

.share {
    display: flex;
    flex-direction: row;
    gap: 1em;
    transition: .4s ease-in-out;
    margin-top: 60px;
  }
  
  .btn1 {
    position: relative;
    width: 3em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: white;
    transition: .4s all;
  }
  
  .btn1 .instagram {
    margin-top: 0.1em;
    fill: #cc39a4;
  }
  
  .btn1 .tooltiptext1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width: 6em;
    height: 8em;
    background-color: seashell;
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    position: absolute;
    left: -1.5em;
    top: -8em;
    z-index: 1;
    transition: .1s ease-in-out;
  }
  
  .btn1 .tooltiptext1 .card img{
    width: 4em;
    height: 4em;
    border-radius: 100%;
    background-color: gray;
  }
  
  .btn1 .tooltiptext1 .account {
    margin-top: 1em;
  }
  
  .btn1 .tooltiptext1 .username {
    font-size: 0.7em;
    margin-top: 1.6em;
    font-weight: bold;
  }
  
  .btn1:hover .tooltiptext1 {
    transform: translateY(-1em);
    visibility: visible;
  }
  
  .btn1:hover {
    background-color: #cc39a4;
  }
  
  .btn1:hover .instagram {
    fill: white;
  }

.dark-mode .offbody{
    background-color: #1c1c1c;
    transition: .5s;
}


.dark-mode .infoB{
    color: #b0b0b0;
}

h1{
    color: #000;
    transition: .5s;
}
.dark-mode h1{
    color: white;
    transition: .5s;
}

.share{
    display: none;
}


@media(max-width: 700px){
    .header {
        min-height: 60vh;
      }
.auto-style3{
    margin-left: 60px;
}

.selectors{
    flex-direction: column;
}

    .mobile-menu li a{
        color: #fff;
    }
    .logo{
        width: 70px;
    }
    article{
        display: none;
    }
    .pc{
        display:none;
    }
    .mobile-menu{
        display:block;
        z-index: +1;
    }
    #slidebar{
        position:absolute;
        width:300px;
        height:100%;
        background:#000;
        right:-300px;
        transition:.4s;
        z-index: +1;
    }

    #slidebar ul li{
        list-style:none;
        color:#fff;
        font-size:20px;
        padding:20px;
    }

    #slidebar .toggle-btn{
        position:absolute;
        top:30px;
        right:330px;
    }

    .toggle-btn span{
        width:25px;
        height:4px;
        background-color:#000;
        display:block;
        margin-top:4px;
    }

    #slidebar.active{
        right:0;
    }
    .mobile-items{
        display:block;
    }

    .logo-phone{
        display:block;
        float:left;
    }
}
